@font-face {
  font-family: "iconfont"; /* Project id 3870609 */
  src: url('@/assets/css-font/iconfont.woff2') format('woff2'),
       url('@/assets/css-font/iconfont.woff') format('woff'),
       url('@/assets/css-font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-erweima:before {
  content: "\e61a";
}

.icon-huidaodingbu:before {
  content: "\e6a9";
}

.icon-xiangzuo:before {
  content: "\eb15";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-baoyou:before {
  content: "\e63e";
}

.icon-tuihuanhuo:before {
  content: "\e715";
}

.icon-wangdianchaxun:before {
  content: "\e611";
}

.icon-tijiaoweixiudan:before {
  content: "\e60d";
}

.icon-sousuo:before {
  content: "\e60a";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-yonghu:before {
  content: "\e637";
}

